body,
.wrapper {
    background: $true-black-color;
}

.footer {
    background-color: $black-color;
    color: $white-color;

    nav>ul a:not(.btn),
    a {
        color: $success-color;
    }

    .copyright {
        color: $white-color;
    }
}
.navbar-default {
    background-color: $black-color;
    color: $white-color 
}
.navbar.fixed {
    width: calc(100% - #{$sidebar-width});
    right: 0;
    left: auto;
    border-radius: 0;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: $white-color;
}

.numbers {
    color: $white-color;
}