body,
.wrapper {
    background: $true-black-color;
}

.footer {
    background-color: $black-color;
    color: $white-color;

    nav>ul a:not(.btn),
    a {
        color: $success-color;
    }

    .copyright {
        color: $white-color;
    }
}
.navbar {
    background-color: $black-color;
    color: $white-color ;
    height: 61px;
}
.navbar.fixed {
    width: calc(100% - #{$sidebar-width});
    right: 0;
    left: auto;
    border-radius: 0;
}

.Image-fluid {
    flex: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: $white-color;
}

.numbers {
    color: $white-color;
}

.sidebar-wrapper .nav li {
    width: 100%
}

.nav-link {
    color: $white-color;
}