body,
.wrapper {
    background-image: url("https://images.wallpaperscraft.com/image/black_background_lines_scratches_69440_1920x1080.jpg");
}

.main-panel {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    margin: 0px auto;
}

.footer {
    background-color: $black-color;
    color: $white-color;

    nav>ul a:not(.btn),
    a {
        color: $success-color;
    }

    .copyright {
        color: $white-color;
    }
}

.navbar {
    background-color: $black-color;
    color: $white-color;
    height: 61px;
}

.navbar.fixed {
    width: calc(100% - #{$sidebar-width});
    right: 0;
    left: auto;
    border-radius: 0;
}

.Image-fluid {
    flex: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: $white-color;
}

.numbers {
    color: $white-color;
}

.sidebar-wrapper .nav li {
    width: 100%
}

.nav-link {
    color: $white-color;
}

.mr-auto {
    color: $white-color;
}

.btn {
    background-color: rgb(10, 8, 12);
    color: #05E0F0;
    border-color: rgb(31, 30, 32);
}

.table {
    color: $white-color;
}

.artistPicture {
    border: 5px solid bisque;
}

.ct-series-a .ct-bar {
    stroke: #d9534f;
    stroke-width: 35px;
}

.ct-series-b .ct-bar {
    stroke: #5cb85c;
    stroke-width: 35px;
}

.landingContainer, .titleContainer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.titleContainer {
    font-size: 120px;
}

.tierText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;    
}

.tierImage {
    border: 5px solid rgb(138,43,226);
}